.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    position: relative;
    z-index: 1;
    font-size: 13rem;
    line-height: 13rem;
    font-weight: 400;
    letter-spacing: -0.085rem;
    color: white;
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 11vw;
      line-height: 1.2;
      text-align: center;
    }
  }

  .imageWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .image {
    object-fit: cover;
  }
}
