.inner {
  flex: 1;
}

.item {
  position: relative;
  background-color: white;
  border-top: 0.1rem solid black;
  text-align: center;
  padding-top: 0rem;
  color: black;
  margin-bottom: -3.5rem;
  cursor: pointer;
  transition: top 0.15s cubic-bezier(0.76, 0, 0.24, 1), background-color 0.1s cubic-bezier(0.76, 0, 0.24, 1);

  p {
    pointer-events: none;
    font-size: 9rem;
    line-height: 11rem;
    text-transform: uppercase;
    margin: 0;
  }
}
